__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
venv/
.venv/

# Don't commit collected static files
static/admin/
static/*.css.gz
static/*.js.gz
static/staticfiles.json
static/css

# Pycharm stuff
.idea/

.env

