{% load static %}
{% load django_bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Sportify
        {% endblock %}
    </title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-papPZt9BMYz9O0o4qHBOLwB3NfXwBKrL7Kqv3FP5Z8+fJ5A5K+v6G6IOxj5xkQQtcFtE9pOg7+4z7Z6+xxwW0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
<header class="navbar">
    <div class="top-navbar-container">
        <div class=title-wrapper>
            <h1 class="title"><a href="{% url 'home' %}">Sportify</a></h1>
        </div>
        <div class="search-wrapper">
            <form action="{% url 'search_results' %}" method="GET">
                <div id="searchBar" class="search-container">
                    {{form.as_p}}
                    {% if collection_id %}
                    <input type="hidden" name="collection_id" value="{{ collection_id }}">
                    {% elif tag %}
                    <input type="hidden" name="tag" value="{{ tag }}">
                    {% endif %}
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <!-- <input type="text" name="q" placeholder="Search for sports equipment" required> -->
            </form>
        </div>

        <div class=auth-stuff-wrapper>
            {% if user.is_authenticated %}
            <div class="user-info">
                <!--                <p>User: {{ user.userprofile.real_name|default:user.username }}!</p>-->
                <!--                <p>Role: {% if user.userprofile.role == 'librarian' %}Librarian{% else %}Patron{% endif %}</p>-->
                <div class="profile-pic-wrapper">
                    <a href="{% url 'profile_detail' %}" class="profile-btn"></a>
                </div>
            </div>
            {% else %}
            <div class="user-info">
                <div class="top-right-buttons">
                    <a id="loginButton" href="{% url 'social:begin' 'google-oauth2' %}" class="btn">Login with
                        Google</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    <div class="bottom-navbar-container">
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?query=">All Equipment</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=sports">Sports</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'sports' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=exercise">Exercise</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'exercise' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=outdoor">Outdoor</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'outdoor' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=male">Male</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'male' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=female">Female</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'female' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'search_results' %}?tag=other">Other</a>
                    <ul class="dropdown">
                        {% for collection in collections %}
                        {% if 'other' in collection.get_tags_list and collection.is_public %}
                        <li><a href="{% url 'collection_detail' collection.id %}">{{ collection.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->

<footer class="fixed-footer">
    <div class="footer-container">
        <button id="theme-toggle" class="btn">
            <i id="theme-icon" class="fas fa-moon"> </i>
        </button>
        <small>© 2025 A-19. All rights reserved.</small>
        <img class="footer-logo" src="https://teama19.s3.us-east-2.amazonaws.com/73_UVALogo_800x800.jpg" alt="UVA Logo">
    </div>
</footer>

<!-- JS Bundle (Include before closing </body>) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
  // Get references to the button and icon element
  const toggleButton = document.getElementById('theme-toggle');
  const themeIcon = document.getElementById('theme-icon');

  // Function to update the theme and icon based on the current state
  function updateTheme(isDark) {
    if (isDark) {
      document.body.classList.add('dark-mode');
      // Set the icon to sun when in dark mode (click to switch to light mode)
      themeIcon.classList.remove('fa-moon');
      themeIcon.classList.add('fa-sun');
    } else {
      document.body.classList.remove('dark-mode');
      // Set the icon to moon when in light mode (click to switch to dark mode)
      themeIcon.classList.remove('fa-sun');
      themeIcon.classList.add('fa-moon');
    }
    localStorage.setItem('darkMode', isDark);
  }

  // On page load, set the theme based on localStorage
  document.addEventListener('DOMContentLoaded', () => {
    const darkMode = localStorage.getItem('darkMode') === 'true';
    updateTheme(darkMode);
  });

  // Listen for toggle button click
  toggleButton.addEventListener('click', () => {
    const isDark = document.body.classList.contains('dark-mode');
    updateTheme(!isDark);
  });
</script>


</body>
</html>