{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <!-- Main Content -->
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% if user.is_authenticated and user.userprofile.role == 'librarian' %}
          <div class="text-center">
            <h3>Hi Librarian</h3>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if not user.is_authenticated or user.userprofile.role == 'patron' %}
  <section class="how-it-works">
    <h2>How It Works</h2>
    <div class="steps">
        <div class="step">
            <h3>1. List Your Equipment</h3>
            <p>Lenders upload their sports equipment with details.</p>
        </div>
        <div class="step">
            <h3>2. Browse & Request</h3>
            <p>Borrowers find equipment and send rental requests.</p>
        </div>
        <div class="step">
            <h3>3. Rent & Return</h3>
            <p>Complete transactions safely and return the items.</p>
        </div>
    </div>
  </section>
  {% endif %}
{% endblock %}